<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/assets/css/style.css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <header class="mb-auto">
        <div>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link" href="/Home/Index">Home</a>
                <a class="nav-link" href="/Customer/ShowOrders">My Orders</a>
                <a class="nav-link" href="/Home/Logout">Logout</a>
            </nav>
        </div>
        <div class="cartNums">
            <a href="/Customer/CustomerCart" style="text-decoration: none;"><img style="width: 35px;" src="~/assets/images/shopping-cart.png" alt=""><span style="color:black">  @TempData["CartNum"] </span></a>
        </div>
    </header>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2021 E-commerce Laptops</p>

    </footer>
</body>
</html>