@model IEnumerable<Laptop_Ecommerce_Shop.ProductItemsDetails>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Aroma Home</title>
</head>
<body class="p-top-50" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="100">
    <!--Index section-->
    <section class="p-top-40 p-bottom-40 p">
        <!--Container-->
        <div class="container clearfix">
            <h3>The Products List</h3>

            @if (Request.Cookies["AdminID"] != null)

            {
                //add check for cookies
                <text> Welcome @Request.Cookies["AdminName"].Value </text>
            }

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Brand)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>

                    <th></th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <h6>@Html.DisplayFor(modelItem => item.ProductName)</h6>                           
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Brand)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                                @{ 
                                
                                    var imgBase64 = Convert.ToBase64String(item.FileContent);
                                    var imgsrc = string.Format("data:image/gif;base64,{0}", imgBase64);
                                
                                <img src='@imgsrc' style="max-width:50px; max-height:50px" />
                                }
                            </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </section>
</body>
</html>
